html {
	margin: 0px;
}
body {
	background-color: white;
	margin: 0px;
}
.logo {
	width: 60%;
	margin-left: 20%;
	margin-right: 20%;
	margin-top: 4%;
}
.nav {
	text-align: center;
	border-bottom: solid black 1px;

}
.nav ul li {
	list-style-type: none;
	display: inline-block;
	font-family: Verdana;
	font-size: .8em;
	padding-right: .8em; 
}
.nav ul li a {
	text-decoration: none;
	color: #263062;
}
.nav ul li a:hover {
	text-decoration: underline;
}
footer {
	text-align: center;
}
footer p {
	list-style-type: none;
	display: inline-block;
	font-family: Verdana, sans-serif;
	font-size: .6em;
	padding-right: 2em; 
}
footer p a{
	text-decoration: none;
	color: #263062;
}
footer p a:hover {
	text-decoration: underline;
}
.mainPic {
	width: 94%;
	margin-left: 3%;
	margin-right: 3%;
	padding-top: 20px; 
}
.desc {
	font-family: Verdana;
	margin-right: 5%;
	margin-left: 5%;
	font-size: .8em;
}